:root { 
--black_900_3a:#0000003a; 
--gray_51:#fffafa; 
--bluegray_50:#f1eff6; 
--gray_900_33:#1a1f1633; 
--yellow_902:#f88b28; 
--green_400_1c:#4bd9631c; 
--black_900_3f:#0000003f; 
--gray_50:#fafafa; 
--red_50:#fef0f0; 
--black_900_23:#00000023; 
--black_900:#000000; 
--yellow_901:#f08626; 
--green_400_42:#4bd96342; 
--yellow_900:#eb7b14; 
--black_901:#0e0e0e; 
--red_A700:#ee0d0d; 
--gray_700:#60695c; 
--gray_400:#c2bcbc; 
--gray_900_26:#1a1f1626; 
--gray_401:#c4c4c4; 
--orange_A200:#ffa451; 
--gray_900:#1a1f16; 
--yellow_50:#fffaeb; 
--gray_200:#ececec; 
--gray_100:#f0fef8; 
--bluegray_900:#27214d; 
--bluegray_800:#302f66; 
--bluegray_600:#5c577e; 
--gray_900_7f:#1a1f167f; 
--white_A701:#fffdfd; 
--white_A700:#ffffff; 
--black_900_35:#00000035; 
}