
 @font-face { font-style : bold; src: url("assets/fonts/cabinmedium500.ttf"); font-family : "Cabin"; font-weight : 500;  }
 @font-face { font-style : normal; src: url("assets/fonts/robotoregular400.ttf"); font-family : "Roboto"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/cabincabin400.ttf"); font-family : "Cabin"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/alataregular400.ttf"); font-family : "Alata"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/adventprobold700.ttf"); font-family : "Advent Pro"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/robotorobotoromancondensedregular400.ttf"); font-family : "Roboto"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/robotorobotoromanbold700.ttf"); font-family : "Roboto"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/alikeregular400.ttf"); font-family : "Alike"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/allertaregular400.ttf"); font-family : "Allerta"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/robotocondensedbold700.ttf"); font-family : "Roboto Condensed"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/cabinbold700.ttf"); font-family : "Cabin"; font-weight : 700;  }